[submodule "ShareX.ImageEditor"]
	path = ShareX.ImageEditor
	url = https://github.com/magazine0410/ShareX.ImageEditor.git
	branch = develop
	update = rebase
[submodule "Omacut"]
	path = Omacut
	url = https://github.com/KovaForge/omacut.git
	branch = develop
	update = rebase
[submodule "native/omasnap"]
	path = native/omasnap
	url = https://github.com/KovaForge/omasnap.git
	branch = main
	update = rebase
